* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.boa_vinda {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.boa_vinda > button {
    font-size: 16px;
    padding: 2px;
    margin: 3px auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: dodgerblue;
    padding: 10px;
    gap: 10px 20px;
}

.coluna {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.tarefa {
    background-color: #C9CCD0;
    border: 1px solid black;
    border-radius: 4px;
    margin: 3px 1px;
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
    text-align: center;
}

.tarefa:hover {
    background-color: #b4bac2;
}

.tarefa > p {
    margin: 5px;
    white-space: normal;
}

.botoes {
    display: flex;
    justify-content: space-around;
}

.botoes > button {
    font-size: 16px;
    padding: 2px;
}

button:hover{
    background-color: dodgerblue;
    color: #FEFEFE;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    .coluna {
        width: 95%;
        max-width: 100%;
        padding: 5px;
    }

    .tarefa {
        width: 95%;
        max-width: 100%;
        margin: 2px;
    }
}